{
  "swagger": "2.0",
  "info": {
    "title": "News",
    "description": "This is an news for all my news entries. I use a single news system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "news.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/news/": {
      "get": {
        "summary": "all newss",
        "description": "all newss",
        "operationId": "getNewss",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across news",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "news response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "News"
        ]
      },
      "post": {
        "summary": "add a news post",
        "description": "add a news post",
        "operationId": "addNews",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the news",
            "required": false,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the news",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the news",
            "required": false,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the news originated from",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the news",
            "required": false,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the news",
            "required": false,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "news response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "News"
        ]
      }
    },
    "/news/published/": {
      "get": {
        "summary": "published newss",
        "description": "published newss",
        "operationId": "getPublishedNewss",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "News Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "News"
        ]
      }
    },
    "/news/draft/": {
      "get": {
        "summary": "draft newss",
        "description": "draft newss",
        "operationId": "getDraftNewss",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "which page of results to show",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "how many to show on page",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "which field to sort by",
            "required": false,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "news response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "News"
        ]
      }
    },
    "/news/{news_id}/": {
      "get": {
        "summary": "Retrieve a news using its slug",
        "description": "Returns the news detail",
        "operationId": "getNews",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "description": "the unique id for news entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "news response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "News"
        ]
      },
      "put": {
        "summary": "update news",
        "description": "update news",
        "operationId": "updateNews",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "description": "the unique id for news entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the news was posted",
            "required": false,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the news",
            "required": false,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the news",
            "required": false,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the news",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the news",
            "required": false,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the news originated from",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the news",
            "required": false,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the news",
            "required": false,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "build_page",
            "in": "query",
            "description": "whether or not this news post needs page built",
            "required": false,
            "type": "integer"
          },
          {
            "name": "show_on_site",
            "in": "query",
            "description": "Whether or not this news post will show on any site",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "news response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "News"
        ]
      },
      "delete": {
        "summary": "delete news",
        "description": "delete news",
        "operationId": "deleteNews",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "description": "the unique id for news entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "news response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "News"
        ]
      }
    },
    "/news/{news_id}/tags/": {
      "get": {
        "summary": "news tags",
        "description": "news tags",
        "operationId": "getnewsTags",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "description": "id for news",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "News Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to news",
        "description": "add tag to news",
        "operationId": "addNewsTag",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "description": "id for the news",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "News Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/news/{news_id}/tags/{tag}": {
      "delete": {
        "summary": "delete news tag",
        "description": "delete news tag",
        "operationId": "deletenewsTag",
        "parameters": [
          {
            "name": "news_id",
            "in": "path",
            "description": "id for the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from news",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "News Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/news/tags/byweek/": {
      "get": {
        "summary": "news tags by week",
        "description": "news tags by week",
        "operationId": "getNewsTagsByWeek",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          },        
          {
            "name": "week",
            "in": "query",
            "description": "the week to retrieve tags by",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "description": "the year to retrieve tags by",
            "required": false,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "News Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/news/tags/byweek/{tag}/news/": {
      "get": {
        "summary": "news tags by week newss",
        "description":  "news tags by week newss",
        "operationId": "getNewsTagCNews",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "the tag to filter by",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "query",
            "description": "the week to filter by, defaults to this week",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "News Tag BLog Responsee",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/news/byweek/": {
      "get": {
        "summary": "newss by week",
        "description": "newss by week",
        "operationId": "getNewssByWeek",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the news",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the news",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "News Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/news"
              }
            }
          }
        },
        "tags": [
          "News"
        ]
      }
    }
  },
  "definitions": {
    "news": {
      "properties": {
        "news_id": {
          "description": "unique id of the news",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the news was posted",
          "type": "string"
        },
        "title": {
          "description": "ttle for the news",
          "type": "string"
        },
        "author": {
          "description": "author of the news",
          "type": "string"
        },
        "summary": {
          "description": "summary for the news",
          "type": "string"
        },
        "body": {
          "description": "full body text of the news",
          "type": "string"
        },
        "footer": {
          "description": "footer text for the news",
          "type": "string"
        },
        "status": {
          "description": "status of the news",
          "type": "string"
        },
        "curated_id": {
          "description": "curated id the news originated from",
          "type": "integer",
          "format": "id"
        },
        "build_page": {
          "description": "Whether or not this news post will show on any site",
          "type": "integer",
          "format": "id"
        },
        "show_on_site": {
          "description": "curated id the news originated from",
          "type": "integer",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}