{
  "swagger": "2.0",
  "info": {
    "title": "Tool",
    "description": "This is an tool API that I use to keep track of companies who are doing interesting things in the API space, or at least they should be.",
    "termsOfService": "http://kinlane.com/terms-of-service.html",
    "version": "v2"
  },
  "host": "tool.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/tool/": {
      "get": {
        "summary": "get tools",
        "description": "get tools",
        "operationId": "getTools",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across tools",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      },
      "post": {
        "summary": "add new tool",
        "description": "add new tool",
        "operationId": "addTool",
        "parameters": [
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name of tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "details",
            "in": "formData",
            "description": "details for the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "formData",
            "description": "sumary of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "unique url for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "formData",
            "description": "phone for the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "email for the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "address",
            "in": "formData",
            "description": "primary address of the tool",
            "required": false,
            "type": "integer"
          },
          {
            "name": "city",
            "in": "formData",
            "description": "primary city of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "formData",
            "description": "primary state of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "postal_code",
            "in": "formData",
            "description": "primary postal code of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "formData",
            "description": "primary country of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "rank",
            "in": "formData",
            "description": "ranking for the tool",
            "required": false,
            "type": "integer"
          },
          {
            "name": "location",
            "in": "formData",
            "description": "primary location of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "photo",
            "in": "formData",
            "description": "primary photo of the tool",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      }
    },
    "/tool/{tool_id}/": {
      "get": {
        "summary": "get tool",
        "description": "get tool",
        "operationId": "getTool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "the unique id for tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      },
      "put": {
        "summary": "update tool",
        "description": "update tool",
        "operationId": "updateTool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "the unique id for the tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "name of tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "details",
            "in": "formData",
            "description": "details for the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "formData",
            "description": "sumary of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "unique url for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "phone",
            "in": "formData",
            "description": "phone for the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
            "in": "formData",
            "description": "email for the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "address",
            "in": "formData",
            "description": "primary address of the tool",
            "required": false,
            "type": "integer"
          },
          {
            "name": "city",
            "in": "formData",
            "description": "primary city of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "formData",
            "description": "primary state of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "postal_code",
            "in": "formData",
            "description": "primary postal code of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "formData",
            "description": "primary country of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "rank",
            "in": "formData",
            "description": "ranking for the tool",
            "required": false,
            "type": "integer"
          },
          {
            "name": "location",
            "in": "formData",
            "description": "primary location of the tool",
            "required": false,
            "type": "string"
          },
          {
            "name": "photo",
            "in": "formData",
            "description": "primary photo of the tool",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      },
      "delete": {
        "summary": "delete tool",
        "description": "delete tool",
        "operationId": "deleteTool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "the unique id for the tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tool response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tool"
              }
            }
          }
        },
        "tags": [
          "Tools"
        ]
      }
    },
    "/tool/{tool_id}/tags/": {
      "get": {
        "summary": "retrieve tool tags",
        "description": "retrieve tool tags",
        "operationId": "getToolTags",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to tool",
        "description": "add tag for tool",
        "operationId": "addToolTag",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "formData",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/tool/{tool_id}/tags/{tag}": {
      "delete": {
        "summary": "delete a tool tag",
        "description": "deletes a tag applied to tool",
        "operationId": "deleteToolTag",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/tool/{tool_id}/notes/": {
      "get": {
        "summary": "retrieve an APIs notes",
        "description": "Returns the notes for an API",
        "operationId": "getToolNotes",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the API",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "API Notes Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "Notes"
        ]
      },
      "post": {
        "summary": "add an Tool note",
        "description": "Add a note for the tool",
        "operationId": "addToolNote",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the api item",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "type of the note",
            "required": true,
            "type": "string"
          },
          {
            "name": "note",
            "in": "formData",
            "description": "the full text of note",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "API Note Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "Notes"
        ]
      }
    },
    "/tool/{tool_id}/notes/{note_id}": {
      "delete": {
        "summary": "delete an tool note",
        "description": "Deletes a note for a tool",
        "operationId": "deleteToolNote",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "note_id",
            "in": "path",
            "description": "id for the note",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "API Note Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/note"
              }
            }
          }
        },
        "tags": [
          "Notes"
        ]
      }
    },
    "/tool/{tool_id}/buildingblocks/": {
      "get": {
        "summary": "retrieve tool building blocks",
        "description": "retrieve tool building blocks",
        "operationId": "getToolBuildingBlocks",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildingblock"
              }
            }
          }
        },
        "tags": [
          "Building Blocks"
        ]
      },
      "post": {
        "summary": "add building block to tool",
        "description": "add building block for tool",
        "operationId": "addToolBuildingBlock",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "building_block_id",
            "in": "formData",
            "description": "building block unique id",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "tools_id",
            "in": "formData",
            "description": "tool id for the building block",
            "required": false,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "url for the building block",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Building Block Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/buildingblock"
              }
            }
          }
        },
        "tags": [
          "Building Blocks"
        ]
      }
    },
    "/tool/{tool_id}/buildingblocks/{building_block_id}": {
      "delete": {
        "summary": "delete a tool building block",
        "description": "delete a tool building block",
        "operationId": "deleteToolBuildingBlock",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "building_block_id",
            "in": "path",
            "description": "building block to remove from tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Building Block Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Building Blocks"
        ]
      }
    },
    "/tool/{tool_id}/images/": {
      "get": {
        "summary": "retrieve tool images",
        "description": "Returns the images for an tool",
        "operationId": "getToolImages",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Images Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Images"
        ]
      },
      "post": {
        "summary": "add image to tool",
        "description": "add image for tool",
        "operationId": "addToolImage",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "path",
            "in": "formData",
            "description": "image path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "image type",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "image name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Image Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Images"
        ]
      }
    },
    "/tool/{tool_id}/images/{image_id}": {
      "delete": {
        "summary": "delete a tool image",
        "description": "deletes a image applied to tool",
        "operationId": "deleteToolImage",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_id",
            "in": "path",
            "description": "id for the image to remove from tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Image Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/image"
              }
            }
          }
        },
        "tags": [
          "Images"
        ]
      }
    },
    "/tool/{tool_id}/logs/": {
      "get": {
        "summary": "retrieve tool logs",
        "description": "retrieve tool logs",
        "operationId": "getToolLogs",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Log Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/log"
              }
            }
          }
        },
        "tags": [
          "Logs"
        ]
      },
      "post": {
        "summary": "add log to tool",
        "description": "add log to tool",
        "operationId": "addToolLog",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "type of log entry",
            "required": true,
            "type": "string"
          },
          {
            "name": "details",
            "in": "formData",
            "description": "log details",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Log Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/log"
              }
            }
          }
        },
        "tags": [
          "Logs"
        ]
      }
    },
    "/tool/{tool_id}/logs/{log_id}": {
      "delete": {
        "summary": "delete a tool log",
        "description": "delete a tool log",
        "operationId": "deleteToolLog",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "log_id",
            "in": "path",
            "description": "id for the log",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Log Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/log"
              }
            }
          }
        },
        "tags": [
          "Logs"
        ]
      }
    },
    "/tool/{tool_id}/screenshots/": {
      "get": {
        "summary": "retrieve tool screenshots",
        "description": "retrieve tool screenshots",
        "operationId": "getToolScreenshots",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Screenshot Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/screenshot"
              }
            }
          }
        },
        "tags": [
          "Screenshots"
        ]
      },
      "post": {
        "summary": "add screenshots to tool",
        "description": "add screenshots for tool",
        "operationId": "addToolScreenshot",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "path",
            "in": "formData",
            "description": "image path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "image type",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "image name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Screenshot Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/screenshot"
              }
            }
          }
        },
        "tags": [
          "Screenshots"
        ]
      }
    },
    "/tool/{tool_id}/screenshots/{screenshot_id}": {
      "delete": {
        "summary": "delete a tool screenshot",
        "description": "delete a tool screenshot",
        "operationId": "deleteToolScreenshot",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "screenshot_id",
            "in": "path",
            "description": "id of the screenshot to remove from tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/screenshot"
              }
            }
          }
        },
        "tags": [
          "Screenshots"
        ]
      }
    },
    "/tool/{tool_id}/urls/": {
      "get": {
        "summary": "retrieve tool url",
        "description": "retrieve tool url",
        "operationId": "getToolURLs",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool URL Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/url"
              }
            }
          }
        },
        "tags": [
          "URLs"
        ]
      },
      "post": {
        "summary": "add URL to tool",
        "description": "add URL for tool",
        "operationId": "addToolURL",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "type of url",
            "required": true,
            "type": "string"
          },
          {
            "name": "url",
            "in": "formData",
            "description": "the url",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "description": "a name for the url",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool URL Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/url"
              }
            }
          }
        },
        "tags": [
          "URLs"
        ]
      }
    },
    "/tool/{tool_id}/urls/{url_id}": {
      "delete": {
        "summary": "delete a tool url",
        "description": "delete a tool url",
        "operationId": "deleteToolURL",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "description": "id for the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the tool",
            "required": true,
            "type": "string"
          },
          {
            "name": "url_id",
            "in": "path",
            "description": "id for the url",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tool URL Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/url"
              }
            }
          }
        },
        "tags": [
          "URLs"
        ]
      }
    }
  },
  "definitions": {
    "tool": {
      "properties": {
        "tool_id": {
          "description": "id for the tool",
          "type": "integer",
          "format": "id"
        },
        "name": {
          "description": "name of tool",
          "type": "string"
        },
        "details": {
          "description": "details of the tool",
          "type": "string"
        },
        "post_date": {
          "description": "date tool was posted",
          "type": "string"
        },
        "url": {
          "description": "primary url for tool",
          "type": "string"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    },
    "note": {
      "properties": {
        "note_id": {
          "description": "id for the api item",
          "type": "integer",
          "format": "id"
        },
        "type": {
          "description": "type of note",
          "type": "string"
        },
        "note": {
          "description": "text of note",
          "type": "string"
        }
      }
    },
    "url": {
      "properties": {
        "note_id": {
          "description": "id for the API",
          "type": "integer",
          "format": "id"
        },
        "type": {
          "description": "the type of url",
          "type": "string"
        },
        "url": {
          "description": "url for the url",
          "type": "string"
        },
        "name": {
          "description": "name of the url",
          "type": "string"
        }
      }
    },
    "image": {
      "properties": {
        "api_id": {
          "description": "id for the API",
          "type": "integer",
          "format": "id"
        },
        "image_id": {
          "description": "id for the image",
          "type": "integer",
          "format": "id"
        },
        "name": {
          "description": "name of the image",
          "type": "string"
        },
        "path": {
          "description": "path of the image",
          "type": "string"
        },
        "type": {
          "description": "type of image",
          "type": "string"
        }
      }
    },
    "screenshot": {
      "properties": {
        "api_id": {
          "description": "id for the API",
          "type": "integer",
          "format": "id"
        },
        "screenshot_id": {
          "description": "id for the screenshot",
          "type": "integer",
          "format": "id"
        },
        "name": {
          "description": "name of the screenshot",
          "type": "string"
        },
        "path": {
          "description": "path of the screenshot",
          "type": "string"
        },
        "type": {
          "description": "type of screenshot",
          "type": "string"
        }
      }
    },
    "buildingblock": {
      "properties": {
        "api_id": {
          "description": "id for the API",
          "type": "integer",
          "format": "id"
        },
        "building_block_api": {
          "description": "id for the building block",
          "type": "integer",
          "format": "id"
        },
        "tool_id": {
          "description": "id for the tool",
          "type": "integer",
          "format": "id"
        },
        "url": {
          "description": "url of the building block",
          "type": "string"
        }
      }
    },
    "log": {
      "properties": {
        "api_id": {
          "description": "id for the API",
          "type": "integer",
          "format": "id"
        },
        "type": {
          "description": "type of log",
          "type": "string"
        },
        "note": {
          "description": "text of note",
          "type": "string"
        },
        "details": {
          "description": "details of log",
          "type": "string"
        },
        "log_date": {
          "description": "log date",
          "type": "string"
        }
      }
    }
  }
}
